.container {
  height: 60vh;
  background-image: url("/assets/img/Homepage2.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.navItems {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #f0e8dd;
    transition: transform 0.2s ease-out;
    transform: scaleX(0);
    transform-origin: right;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}
