.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6rem 0;
  gap: 1rem;

  h1 {
    font-size: 1.75rem;
    line-height: 2rem;

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 768px) {
    padding: 4rem 1rem;
  }
}

.items {
  margin-top: 1.25rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;

    p {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -0.025em;
      color: rgb(51 65 85);
      opacity: 90%;
    }

    span {
      font-size: 0.8rem;
      line-height: 1rem;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1.75rem;
  }
}
